{% extends 'mssql/base.j2' %}

{# The set of fields don't need to be provided sorted thanks to filtering. #}
{% block fields %}

{% for field in fields|sort(attribute='ordinal_position') %}
    {{ field.name }}
        {{ field.data_type }}
    {% if field.is_nullable %}
        null
    {% else %}
        not null
    {% endif %}
    {% if field.default %}
        CONSTRAINT default_{{ schema }}_{{ field.dimension }}_{{ field.name }}
            DEFAULT {% if 'char' in field.data_type %}'{{ field.default }}'{% else %}{{ field.default }}{% endif %}
    {% endif %}
    {% if not loop.last %}
    ,
    {% endif %}
{% endfor %}

{% endblock %}


{#  #}
{% block constraints %}

{% for check in constraints.checks %}
    CONSTRAINT check_{{ schema }}_{{ check.dimension }}_{{ check.name }}
        CHECK {{ check.clause }}
{% endfor %}

{% endblock %}